APP_ENV=testing
APP_KEY=
APP_DEBUG=true

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=mysari_app_testing
DB_USERNAME=sariapp_user
DB_PASSWORD=secret

SESSION_DRIVER=array
CACHE_STORE=array
QUEUE_CONNECTION=sync
